

body {
    background-image:url(../images/qbkls/qbkls.png)
}


.clearfix ::after {
    content: " ";
    display: block;
    clear: both;
}

.name{
    padding: 15px;
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12%;
    
}

.nav{
    color: #999;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    float: right;
    margin-right: 150px;
}

